body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1, h2, h3 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #666;
  line-height: 1.5;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

.producto-card, .ticket, .articulos {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ticket {
  border: 1px solid #ddd;
  padding: 16px;
  background-color: #f9f9f9;
}
